/* header et nav en flex */

@media (max-width: 750px) {

    .logo {
        max-width: 100%;
        /* Rendre l'image responsive */

    }

    #recherche_conteneur {
        width: 100%;
        margin-top: 20px;

    }

    #rechercheInput {
        width: 89%;
        padding: 0.2em;
    }

    #ok_recherche {
        width: 10%;

    }


    header {
        flex-wrap: wrap;
        /* Pour permettre le wrap quand il manque d'espace */
        flex-direction: row;

    }

    nav ul {
        flex-wrap: wrap;
        flex-direction: column;

    }

    nav>ul>li {
        padding-bottom: 50px;

    }

    nav li {
        border-bottom: #005AA7 10px solid;


    }

    nav>ul>li>ul>li {
        padding: 25px;

    }

    nav>ul>li:hover {
        margin-bottom: 9em;
        /* lors de la vue mobile, bien voir le menu même lors de la selection */
    }

    .accueil {
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
    }

    .accueil a,
    .accueil li {
        font-size: 20px;

    }


}


.container {
    margin: 0 3em 3em;

}



/* reglage du probleme du margin entre le header et la nav*/
ul,
li {
    margin: 0;
    padding: 0;
}

/* image + barre de recherche en flex */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: inset 0 10px 100px rgba(218, 239, 249, 0.982);
}

/* Menu */

nav {
    margin-bottom: 3em;
    /* margin entre nav et accueil */
}

nav ul {

    display: flex;
    padding: 0;
    list-style-type: none;
}

nav li {

    height: 1.5em;
    width: 100%;

}

nav>ul>li>a:hover {
    text-decoration: underline;
    color: #91c9fa;
}

nav li ul>li:hover {
    background-color: rgb(110, 187, 232);
}

nav>ul>li>a {

    color: rgb(56, 128, 243);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 1px;
    padding: 1em;
    background: linear-gradient(to bottom, #d9e1e7df, #ffffff 50%, #c2d3e0);
    border-bottom: 2px solid #005AA7;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1);
    /* Ombre subtile à l'intérieur en haut */

}

/* ul enfant */
nav ul>li>ul {
    display: none;
    flex-direction: column;
    margin-top: 2px;


}

/* li enfant*/

nav ul>li>ul>li {


    background: #eef4ff;
    border: none;
    z-index: 1;
    flex: auto;
    padding-right: 0;
    padding-left: 0;


}

nav ul>li>ul>li>a {

    justify-content: flex-start;
    /* mettre l'enfant li à gauche de son contenaire"*/
    padding-left: 10px;
    text-decoration: none;

}

nav ul>li:hover>ul {
    display: flex;
    /* faire apparaitre les sous listes*/
}

/* accueil */

.accueil {

    list-style: none;
    display: flex;
    padding-left: 0;
    font-size: 0.8em;
    color: rgb(81, 81, 173);
    margin-bottom: 2em;

}

.accueil a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(90, 90, 224);

}


/* section en grid */

section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 10px;
}


/* Tableau de bord en grid */


main {
    margin-top: -0.8px;
}

main h1 {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    background-color: #005AA7;
    color: #eef4ff;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px 0 20px 60px;
}


.intro {
    background-color: #fffffff9;
    font-size: 1.2em;
    color: #005AA7;
    text-align: start;
    font-weight: bold;
    grid-column: 1 / -1;
    /* Prendre toute la largeur de la grille */
    padding-bottom: 0.5em;
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);/* Trois colonnes */
    background: #eef4ff;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);


}

/* intérieur de chaque bloc grid , on fait des flex */
.grid-container>div {
    padding: 20px 0 20px 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.grid-container>div img {
    margin-right: 15px;
}

.grid-container>div a {

    font-weight: bold;
    text-decoration: none;
    color: #256196;
    margin-bottom: 10px;
    width: 100%;
}

.grid-container>div ul {
    list-style: none;
    margin-top: 10px;
    max-width: 80%;
}

/* aside grid*/


aside ul {
    list-style: none;
}

/* astuces */

.astuces {
    background: #eef4ff;
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

}

.astuces ul {
    padding: 2em 2em 0.4em 1em;

}

.astuces ul a {
    color: black
        /* texte lien "les astuces" */
}


.astuces div a {

    color: #005AA7;
    /* "toutes les astuces"*/
    font-weight: bold;


}

.astuces div {

    text-align: right;
    padding: 1em;
}

.astuces h3 {
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #005AA7;
    color: #eef4ff;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px 0 20px 60px;
    width: 100%;

}

/* actualite */

.actualite {
    background: #eef4ff;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.actualite h3 {
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #c73c3c;
    color: #eef4ff;
    height: 25px;
    font-size: 20px;
    border-radius: 5px;
    padding: 20px 0 20px 60px;
    width: 100%;
}

.actualite ul {
    padding: 2em 2em 1em 0.8em;
}

.actualite ul a {
    color: black;
}


.date {
    color: #c73c3c;
    font-weight: bold;
}

.actualite div a {
    color: #c73c3c;
    font-weight: bold;
}

.actualite div {
    text-align: right;
    padding: 1em;
}



@media (max-width: 768px) {

    section {
        grid-template-columns: 1fr; /* Une seule colonne */
        padding: 10px; 
    }

    main h1 {
        justify-content: center; 
        padding: 0; 
        margin-bottom: 1em;
    }

    .grid-container {
        grid-template-columns: 1fr; /* Une seule colonne pour la grille */
    }

    .grid-container > div {
        align-items: center; 
    }

    .astuces, .actualite {
        margin-bottom: 1em; 
        text-align: center;
    }

    .astuces h3, .actualite h3 {
        justify-content: center; /* Centrer les titres */
        padding: 0; 
        margin: 0;
    }

 
}