@media (max-width: 750px) {

    .logo {
      max-width: 100%; /* Rendre l'image responsive */
 
    }

    #recherche_conteneur {
        width: 100%;
        margin-top: 20px;
    
    }
    
    #rechercheInput {
        width: 89%; 
        padding: 0.2em;
    }
    
    #ok_recherche {
        width: 10%;

    }
    

    header {
    flex-wrap: wrap; /* Pour permettre le wrap quand il manque d'espace */
    flex-direction: row;

    }

    nav ul {
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    nav>ul>li {
        padding-bottom: 50px;

    }

    nav li {
        border-bottom: #005AA7 10px solid;

        
    }

    nav>ul>li>ul>li {
        padding: 25px;

    }

    nav>ul>li:hover {
        margin-bottom: 9em;
        /* lors de la vue mobile, bien voir le menu même lors de la selection */
    }

    .accueil {
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
    }

    .accueil a, .accueil li {
        font-size: 20px;
        
    }


}


.container {
    margin: 0 3em 3em;
 
}



/* reglage du probleme du margin entre le header et la nav*/
ul, li {
    margin: 0;
    padding: 0;
}

/* image + barre de recherche en flex */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 0;
    background-color: transparent;
    box-shadow: inset 0 10px 100px rgba(218, 239, 249, 0.982);
}

/* Menu */

nav {
    margin-bottom: 3em;
    /* margin entre nav et accueil */
}

nav ul {

    display: flex;
    padding: 0;
    list-style-type: none;
    

}

nav li {

    height: 1.5em;
    width: 100%;

    


}

nav>ul>li>a:hover {
    text-decoration: underline;
    color: #91c9fa;
}

nav li ul>li:hover {
    background-color: rgb(110, 187, 232);
}

nav>ul>li>a {

    color: rgb(56, 128, 243);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 1px;
    padding: 1em;
    background: linear-gradient(to bottom, #d9e1e7df, #ffffff 50%, #c2d3e0);
    border-bottom: 2px solid #005AA7;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile à l'intérieur en haut */

}

/* ul enfant */
nav ul>li>ul {
    display: none;
    flex-direction: column;
    margin-top: 2px;
    

}

/* li enfant*/

nav ul>li>ul>li {
    
    
    background: #eef4ff;
    border: none;
    z-index: 1;
    flex: auto;
    padding-right: 0;
    padding-left: 0;


}

nav ul>li>ul>li>a {

    justify-content: flex-start; /* mettre l'enfant li à gauche de son contenaire"*/
    padding-left: 10px;
    text-decoration: none;

}

nav ul>li:hover>ul {
    display: flex; /* faire apparaitre les sous listes*/
}

/* accueil */

.accueil {
    
    list-style: none;
    display: flex;
    padding-left: 0;
    font-size: 0.8em;
    color: rgb(81, 81, 173);

}

.accueil a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(90, 90, 224);

}

/* Tableau de bord */

